html,body {
	font-size: 12px;
	min-width: 1200px;
}
.wrap {

}
#header {
	height: 45px;
}
#nav {
	height: 45px;
}

.pic_turn {
	height: 300px;	
}
.main {
	overflow: hidden;
	width: 1200px;
	margin: 0 auto;
}
#aside {
	float: left;
	width: 280px;

}
.content {
	margin-left: 300px;
	height: 200px;
}