html,body {
	font-size: 12px;
	min-width: 1200px;
}
.wrap {

}
#header {
	height: 45px;
}
#nav {
	height: 45px;
}

.pic_turn {
	height: 302px;	
}
.main {
	overflow: hidden;
	width: 1180px;
	margin: 0 auto;
}
#aside {
	float: left;
	width: 280px;

}
.content {
	margin-left: 300px;
	width: 878px;
}
.clear {
	clear: both;
}


/*中间上面那三张图*/
.bs {
	width: 100%;
	height: 170px;
	margin: 30px 0 32px 0;
	overflow: hidden;
}
.bs-col {
	width: 393px;
	height: 170px;
	float: left;
	overflow: hidden;
}
.bs-col img {
	position: absolute;
	left: 0;
	top: 0;
	width: 393px;
	height: 170px;
	transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
	-moz-transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
	-webkit-transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
	-o-transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
}
.bs-col:hover img {
	width: 450px;
	height: 200px;
	left: -25px;
	top: -15px;
}
.bs-col:nth-child(1) {
	background-color: #7baedd;
}
.bs-col:nth-child(2) {
	background-color: #8ccec2;
}
.bs-col:nth-child(3) {
	background-color: #f1b8be;
}
.bs-col-wrap {
	position: relative;
	width: 100%;
	height: 100%;
}
.bs-col-content {
	position: relative;
}


/*中间内容上面的轮播块*/
.content-up {
	width: 876px;
	height: 838px;
	border: 1px solid #e8e8e8;
}